@import "../variables.scss";

.timetable-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $boxColor;
  max-width: 26.25rem;
  padding: 1.25rem;
  border-radius: 1.5625rem;
  &__header {
   width:100%; 
   display: flex;
   align-content: center;  
   border-bottom: 0.0625rem solid $primaryColor;
   padding-bottom: 0.625rem;
   font-size: 1.875rem;
   font-weight: 600;
  }
  &__table {
    width: 100%;
    &-row {
      display: flex;
      justify-content: space-between;
      font-size: 1.375rem;
      color: $primaryColor;
      font-weight: 500;
      height: 3.125rem;
      align-items: center;
      & + & {
        border-top: 0.0313rem solid rgba($borderColor, .3);
      }
    }
    &-day {
      text-transform: capitalize;
    }
  }
}